{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <h1>{{ header }}</h1>
    <div><button class="btn btn-info" data-toggle="modal" data-target="#mymodal">КНОПКА</button></div>
            <!-- HTML-код модального окна -->
            <div id="mymodal" class="modal x-modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Заголовок модального окна -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Заголовок</h4>
                        </div>
                        <!-- Основное содержимое модального окна -->
                        <div class="modal-body">

                        </div>
                        <!-- Футер модального окна -->
                        <div class="modal-footer">
                            <button id="btn_close" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button id="btn"  type="button" class="btn btn-primary">ОК</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}